*{
    margin: 0 0 0 0;
    text-decoration: none;
    font-family: 'Proxima Nova';
}
.wrapper{
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}



/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
